* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.dark-mode {
  color: #ffffff;
}

.dark-mode .wrapper {
  background: #2d2d2d;
}

.dark-mode .main__timer {
  border: 10px solid #ffffff;
}

.wrapper {
  background: #ffffff;
  height: 100vh;
  padding: 0 4rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.main__timer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid #2d2d2d;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.main__timer * {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.main__time {
  font-size: 4rem;
}

.main__caption {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.8;
}

.btn {
  font-size: 1.5rem;
  width: 250px;
  border: none;
  outline: none;
  padding: 4px 0;
  margin: 20px 25px 0 25px;
  margin-top: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
}

.btn-purple {
  background: #6d76ff;
  color: #ffffff;
}

.pomodoro-counter {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pomodoro-counter__title {
  font-size: 1.2rem;
  text-align: center;
}

.pomodoro-counter__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pomodoro-counter__img-box {
  width: 35px;
  margin: 0 2px;
}

.pomodoro-counter .work-count {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.pomodoro-counter .work-count--incomplete {
  opacity: 40%;
}

.information-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  color: #2d2d2d;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  visibility: visible;
}

.information-menu--hide {
  display: none;
  visibility: hidden;
}

.information-menu__slide {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.information-menu__slide-text {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
}

.information-menu__slide--show {
  display: block;
}

.information-menu__controller {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.information-menu__controller button {
  background: transparent;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #2d2d2d;
  cursor: pointer;
  opacity: 0.9;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.information-menu__controller button:hover {
  opacity: 1;
  font-size: 1.8rem;
}

.information-menu__toggler {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #6d76ff;
  padding: 10px 15px;
  border-radius: 50%;
  opacity: 0.8;
}

.message-box {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.7;
  padding: 5px 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  background: red;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=style.css.map */